.table {

}

.main {
    background: cornflowerblue;
}

.container {
    background: gainsboro;
}

.button {
    margin-left: 10px;
}

.addButton{
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

/*.settings {*/
/*    background: chocolate;*/
/*}*/

.packList {
    background: darkgrey;
}
