/*.main {*/
/*    height: 100vh;*/
/*    background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);*/
/*    padding-top: 30px;*/
/*}*/

.container {
    display: flex;
    justify-content: center;
}

.paper {
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.avatar {
    width: 300px;
}

.buttonGroup{
    display: flex;
    justify-content: space-around;
}

.button{
    width: 100px;
}

.link {
    text-decoration: none;
    color: black
}
.link:visited {
    color: black
}
